.button-contaier {
  margin-top: 1rem;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.button-contaier button {
  margin-right: 1rem;
  min-width: 100px;
}

.posts-table {
  margin-top: 2rem;
  border-collapse: collapse;

  margin-left: auto;
  margin-right: auto;
  min-width: 200px;
  max-width: 900px;
}

.posts-table thead {
  background-color: rgb(207, 207, 207);
}

.posts-table th,
.posts-table td {
  width: 300px;
  border: 1px solid black;
  padding: 8px;
  text-align: center;
}

.comments-table {
  margin-top: 2rem;
  border-collapse: collapse;

  margin-left: auto;
  margin-right: auto;
  min-width: 200px;
  max-width: 900px;
}

.comments-table thead {
  background-color: rgb(207, 207, 207);
}

.comments-table th,
.comments-table td {
  width: 300px;
  border: 1px solid black;
  padding: 8px;
  text-align: center;
}
