.button-contaier {
  margin-top: 1rem;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.button-contaier button {
  margin-right: 1rem;
  min-width: 100px;
}

/* .posts-table {
  margin-top: 2rem;
  border-collapse: collapse;

  margin-left: auto;
  margin-right: auto;
  min-width: 200px;
  max-width: 900px;
}

.posts-table thead {
  background-color: rgb(207, 207, 207);
}

.posts-table th,
.posts-table td {
  width: 300px;
  border: 1px solid black;
  padding: 8px;
  text-align: center;
} */

h1 {
  font-size: 3em;
  font-weight: 300;
  line-height: 1em;
  text-align: center;
  color: #4dc3fa;
}

h2 {
  font-size: 1em;
  font-weight: 300;
  text-align: center;
  display: block;
  line-height: 1em;
  padding-bottom: 2em;
  color: #fb667a;
}

h2 a {
  font-weight: 700;
  text-transform: uppercase;
  color: #fb667a;
  text-decoration: none;
}

.blue {
  color: #185875;
}
.yellow {
  color: #fff842;
}

.container th h1 {
  font-weight: bold;
  font-size: 1em;
  text-align: left;
  color: #185875;
}

.container td {
  font-weight: normal;
  font-size: 1em;
  -webkit-box-shadow: 0 2px 2px -2px #0e1119;
  -moz-box-shadow: 0 2px 2px -2px #0e1119;
  box-shadow: 0 2px 2px -2px #0e1119;
}

.container {
  text-align: left;
  overflow: hidden;
  width: 80%;
  margin: 0 auto;
  display: table;
  padding: 0 0 8em 0;
}

.container td,
.container th {
  padding-bottom: 2%;
  padding-top: 2%;
  padding-left: 2%;
}

/* Background-color of the odd rows */
.container tr:nth-child(odd) {
  background-color: #323c50;
}

/* Background-color of the even rows */
.container tr:nth-child(even) {
  background-color: #2c3446;
}

.container th {
  background-color: #1f2739;
}

.container td:first-child {
  color: #fb667a;
}

.container tr:hover {
  background-color: #464a52;
  /* -webkit-box-shadow: 0 6px 6px -6px #0e1119;
  -moz-box-shadow: 0 6px 6px -6px #0e1119; */
  /* box-shadow: 0 6px 6px -6px #0e1119; */
}

.container td:hover {
  background-color: #fff842;
  color: #403e10;
  font-weight: bold;

  /* box-shadow:
    #7f7c21 -1px 1px,
    #7f7c21 -2px 2px,
    #7f7c21 -3px 3px,
    #7f7c21 -4px 4px,
    #7f7c21 -5px 5px,
    #7f7c21 -6px 6px; */
  transform: translate3d(6px, -6px, 0);

  transition-delay: 0s;
  transition-duration: 0.4s;
  transition-property: all;
  transition-timing-function: line;
}

.comments-table {
  margin-top: 2rem;
  border-collapse: collapse;

  margin-left: auto;
  margin-right: auto;
  min-width: 200px;
  max-width: 900px;
}

.comments-table thead {
  background-color: rgb(207, 207, 207);
}

.comments-table th,
.comments-table td {
  width: 300px;
  border: 1px solid black;
  padding: 8px;
  text-align: center;
}
