@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Jua&display=swap');

* {
  font-family: 'Do Hyeon', sans-serif;
  font-family: 'Jua', sans-serif;
}

.admin-btn-container {
  margin-left: auto;
  margin-right: auto;

  min-width: 200px;
  max-width: 1200px;
  display: flex;
  justify-content: center;
}
.admin-btn-container button {
  margin: 1rem;
  width: 130px;
  height: 40px;
  border-radius: 10px;
}
