@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Jua&display=swap');

* {
  font-family: 'Do Hyeon', sans-serif;
  font-family: 'Jua', sans-serif;
}

p {
  color: black;
  font-size: 25px;
}

input {
  width: 250px;
  height: 35px;
  font-size: 15px;
  border: 1px solid white;
}

input:hover {
  background-color: rgb(241, 241, 241);
}

.notices_box {
  background-image: url('../img/wagu_cat.png');
  color: white;
  text-align: center;
  height: 300px;
  margin: 40px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  max-width: 1000px;
  min-width: 300px;
}

.notices_input {
  border-radius: 20px;
  margin-bottom: 30px;
}

.write_btn,
.cancel_btn,
.save-btn {
  display: inline-block;
  padding: 7px 12px;
  margin: 7px 7px 7px 7px;
  background-color: #404452;
  color: white;
  border: none;
  border-radius: 7px;
  cursor: pointer;
}

.write_btn:hover,
.cancel_btn:hover {
  background-color: #5b86ec;
  color: white;
}

.notices_list {
  background-color: #000000;
  margin: 40px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  height: 500px;
  border-radius: 20px;
  overflow: auto;
  max-width: 1000px;
  min-width: 300px;
}

.notices_list::-webkit-scrollbar {
  width: 12px;
}

.notices_list::-webkit-scrollbar-thumb {
  background-color: #bcbaba;
  border-radius: 10px;
}

.notices_list::-webkit-scrollbar-track {
  background-color: #000000;
  border-radius: 5px;
}

.notices_one {
  background-color: #eae9e9;
  border-radius: 15px;
  margin: 30px;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.button-container {
  display: inline-block;
}

.button-container button {
  background-color: #404452;
  color: white;
  border: none;
  border-radius: 7px;
  padding: 7px 12px;
  cursor: pointer;
  margin-left: 5px;
}

.button-container button:first-child {
  margin-left: 0;
}

.button-container button:hover {
  background-color: #5b86ec;
  color: white;
}
